@media only screen and (min-width: 600px) {
  p, h4, h3 {
    width: 90%;
    margin-top: 1140px;
}
  
  
  
  div.container .prod {
    width: 100%;
    float: left;
    height: 400px;
    margin: 5px;
    padding: 10px;
    background-color: rgb(247, 192, 90);
    
  }

  .slide {
    width: 100%;
    height: 400px;
    margin: 5px;
    padding: 10px;
  }

  div #nav {
    list-style-type: none;
      float: right;
      padding: 10px;
        
    }

    .footer {
      width: 100%;
     background-color: rgb(241, 66, 124);
      color: white;
      text-align: center;
    
  }

  .demo {
    margin-top: 40px;
    height: 100%;
    margin-left: 40px;
    margin-right: 40px;
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
    margin: 0px;
}
.header {
  position: fixed;
  top: 0;
    background-color:rgb(196, 218, 100);
    width: 100%;
    font-weight: bold;
   
}

.footer {
    width: 100%;
    height: 30px;
    background-color: rgb(241, 66, 124);
    color: white;
    text-align: center;
    padding-top: 15px;
}

.logo {
    margin-left: 15px;
    height: 75px;
}

div #nav {
  list-style-type: none;
    float: right;
    padding: 10px;
    display: inline;  
  }

li {
  display: inline;
    padding: 10px;
    color: white;  
}

li:hover{
    background-color: blueviolet;
    
}

p, h4, h3 {
    width: 90%;
    margin: 15px;
}

.container {
  width: 100%;
  height: 400px;
  margin-top: 75px;
  background-color: lightgray;
}

div.container .prod {
  width: 20%;
  float: left;
  height: 400px;
  margin: 5px;
  padding: 10px;
  background-color: rgb(247, 192, 90);
  
}

.slide {
  width: 75%;
  height: 400px;
  float: right;
  margin: 5px;
  padding: 10px;
}

.mySlides {
  display: none;
}

embed {
  margin: 20px 60px 0 60px;
}

.vid {
  width: 100%;
  height: 450px;
 
}

div.vid .yt {
  width: 47%;
  float: left;
  height: 400px;
  margin: 5px;
  padding: 10px; 
}

.mipec {
  width: 47%;
  height: 400px;
  float: right;
  margin: 5px;
  padding: 10px; 
}

.about {
  margin-top: 80px;
  background-color: lightgray;
}

.services  {
  width: 100%;
  margin-top: 80px;
  height: 600px;
  background-color: lightgray;
  }

.ser {
  width: 20%;
  float: left;
  background-color: rgb(32, 28, 28);
  margin: 5px;
  }

.caspoc {
  width: 75%;
  float: right;
  }

.req {
  margin-top: 80px;
  background-color: lightgray;
  width: 100%;
  
}

.demo {
  margin-top: 40px;
  height: 600px;
  margin-left: 40px;
  margin-right: 40px;
}

.btn {
  display: inline-block;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.btn:hover {background-color: #3e8e41}

.btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.contact {
  width: 100%;
  margin-top: 80px;
  height: 600px;
  background-color: lightgray;
  }

  .us {
    width: 60%;
    margin-left: 80px;
    float: left;
  }
  .social {
    background-color:rgb(247, 192, 90);
    color: blue;
    float: right;
    margin: 30px;
  }




  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    padding: 5px;
    z-index: 1;
  }
  .dropdown-content a {
    padding: 5px;
    display: block;
    color: rgb(87, 87, 238);
  }
  
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
background-color: blueviolet;
}