* {
    text-decoration: none;
}
body {
    margin: 0px;
}
.header {
  position: fixed;
  top: 0;
    background-color: aquamarine;
    width: 100%;
    color: blue;
    font-weight: bold;
   
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aquamarine;
    color: blue;
    text-align: center;
  }

.logo {
    margin-left: 15px;
    height: 75px;
}

div #nav {
    list-style-type: none;
    float: right;
    padding: 10px;
    
  }

  li {
    display: inline;
    padding: 10px;    
}


li:hover{
    background-color: blueviolet;
}

h3 {
  margin-top: 15px;
  width: 90%;
  margin-left: 20px;
}

p,h4 {
    width: 90%;
    margin-left: 20px;
    
}



.slid {
  float: right;
  width: 1000px;
  height: 1000px;
  margin-right: 5px;
  margin-top: 85px;

}
.mySlides {
  
}